# Files for Git to ignore
trial * output *.csv
trial * trial results.csv
all_trial_results.csv

.DS_Store

stroke_ward_model.egg-info
.venv
*.pyc

checklists/~$stress_des.xlsx

tests/exp_results/df_patient_log_test_comparison.parquet
tests/exp_results/df_trial_results_test_comparison.parquet
tests/nspp_test_output.csv

input_data/*
!input_data/.gitkeep

preprocessing/*.csv

dev/*
